.completion-section{
    height: 60%;
    width: 60%;
    background-color: rgba(128, 128, 128, 0.096);
    /* margin: 0px auto; */
    position: relative;
    /* right: 22%; */
    padding: 20px 15px;
    border-radius: 5px;
}